@page "/EstateAddTest"
@page "/EstateEditTest/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using DTOs
@using System.Linq;

@if (Id == null)
{
    <h3>Add Estate</h3>
}
else
{
    <h3>Edit Estate</h3>
}

<EditForm Model="_Estate" OnSubmit="HandleSubmit">
    <div>
        <label onformchange="address"> Adress </label>
        <InputText id="Address" @bind-Value="_Estate.Address" class="form-control" />
    </div>
    <div>
        <label onformchange="StartingPrice"> StartingPrice </label>
        <InputNumber id="StartingPrice" @bind-Value="_Estate.StartingPrice" class="form-control" />
    </div>
    <div>
        <label onformchange="LivingAreaKvm"> LivingAreaKvm </label>
        <InputText id="LivingAreaKvm" @bind-Value="_Estate.LivingAreaKvm" class="form-control" />
    </div>
    <div>
        <label onformchange="NumberOfRooms"> NumberOfRooms </label>
        <InputText id="NumberOfRooms" @bind-Value="_Estate.NumberOfRooms" class="form-control" />
    </div>
    <div>
        <label onformchange="BiAreaKvm"> BiAreaKvm </label>
        <InputText id="BiAreaKvm" @bind-Value="_Estate.BiAreaKvm" class="form-control" />
    </div>
    <div>
        <label onformchange="EstateAreaKvm"> EstateAreaKvm </label>
        <InputText id="EstateAreaKvm" @bind-Value="_Estate.EstateAreaKvm" class="form-control" />
    </div>
    <div>
        <label onformchange="MonthlyFee"> MonthlyFee </label>
        <InputText id="MonthlyFee" @bind-Value="_Estate.MonthlyFee" class="form-control" />
    </div>
    <div>
        <label onformchange="RunningCosts"> RunningCosts </label>
        <InputText id="RunningCosts" @bind-Value="_Estate.RunningCosts" class="form-control" />
    </div>
    <div>
        <label onformchange="ConstructionDate"> ConstructionDate </label>
        <InputText id="ConstructionDate" @bind-Value="_Estate.ConstructionDate" class="form-control" />
    </div>
    <div>
        <label onformchange="EstateDescription"> EstateDescription </label>
        <InputText id="EstateDescription" @bind-Value="_Estate.EstateDescription" class="form-control" />
    </div>
    <div>
        <label onformchange="PublishDate"> PublishDate </label>
        <InputDate id="PublishDate" @bind-Value="_Estate.PublishDate" class="form-control" />
    </div>
    <div>
        <label onformchange="County"> County | Current : @selectedCounty?.CountyName </label>
        <InputSelect id="_Estate.CountyId" @bind-Value="_Estate.CountyId" class="form-control">
            @foreach (var county in counties)
            {
                @if (selectedCounty?.Id == county.Id)
                {
                    <option value="@county.Id" selected="selected" label="@county.CountyName">
                        @county.Id
                    </option>
                }
                else
                {
                    <option value="@county.Id" label="@county.CountyName">
                        @county.Id
                    </option>
                }
            }
        </InputSelect>
    </div>
    <div>
        <label onformchange="Category"> Category | current : @selectedCategory?.EstateCategory</label>
        <InputSelect id="_Estate.CategoryId" @bind-Value="_Estate.CategoryId" class="form-control">
            @foreach (var category in categories)
            {

                @if (selectedCategory?.Id == category.Id)
                {
                    <option value="@category.Id" selected="selected" label="@category.EstateCategory">
                        @category.Id
                    </option>
                }
                else
                {
                    <option value="@category.Id" label="@category.EstateCategory">
                        @category.Id
                    </option>
                }


            }
        </InputSelect>

    </div>
    <div>
        <label onformchange="Realtor"> Realtor | current : @selectedRealtor?.FirstName @selectedRealtor?.LastName </label>
        <InputSelect @bind-Value="_Estate.RealtorId" class="form-control">
            @foreach (var realtor in realtors)

            {
                @if (selectedRealtor?.Id is not null)
                {
                    <option value="@realtor.Id" selected="selected" label="@realtor.FirstName @realtor.LastName">
                        @realtor.Id
                    </option>
                }
                else
                {
                    <option label="@realtor.FirstName @realtor.LastName">
                       @realtor.Id
                    </option>
                }
            }
        </InputSelect>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {

    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromForm]
    public UpdateEstateDto _Estate { get; set; } = new UpdateEstateDto();
    public EstateDto? _Estate1 { get; set; } = new EstateDto();

    List<Category> categories = new List<Category>();
    List<County> counties = new List<County>();
    List<Realtor> realtors = new List<Realtor>();

    public Realtor selectedRealtor;
    public County selectedCounty;
    public Category selectedCategory;
    protected override async Task OnParametersSetAsync()
    {
        await Task.Delay(500);
        if (Id is not null)
        {

            var result = await Http.GetFromJsonAsync<UpdateEstateDto>($"https://localhost:7190/api/Estate/{Id}");
            var result2 = await Http.GetFromJsonAsync<EstateDto>($"https://localhost:7190/api/Estate/{Id}");

            if (result is not null) { _Estate = result; }
            if (result is not null) { _Estate1 = result2; }
        }

        var category = await Http.GetFromJsonAsync<List<Category>>("https://localhost:7190/api/Category");
        var county = await Http.GetFromJsonAsync<List<County>>("https://localhost:7190/api/County");
        var realtor = await Http.GetFromJsonAsync<List<Realtor>>("https://localhost:7190/api/Realtor");
        if (category is not null) categories = category;
        if (county is not null) counties = county;
        if (realtor is not null) realtors = realtor;

        var currentrealtor = realtors.FirstOrDefault(r => r.Id == _Estate1?.Realtor?.Id);
        var currentcategory = categories.FirstOrDefault(r => r.Id == _Estate1?.Category?.Id);
        var currentcounty = counties.FirstOrDefault(r => r.Id == _Estate1?.County?.Id);

        if (currentrealtor is not null) selectedRealtor = currentrealtor;
        if (currentcounty is not null) selectedCounty = currentcounty;
        if (currentcategory is not null) selectedCategory = currentcategory;
    }

    async Task HandleSubmit()
    {

        if (Id is not null)
        {
            var result = await Http.PutAsJsonAsync($"https://localhost:7190/api/Estate/{Id}", _Estate);
            // _Estate = await result.Content.ReadFromJsonAsync<UpdateEstateDto>();
        }
        else
        {
            var result = await Http.PostAsJsonAsync($"https://localhost:7190/api/Estate/", _Estate);
            // _Estate = await result.Content.ReadFromJsonAsync<UpdateEstateDto>();
        }
        NavigationManager.NavigateTo("Estates");
    }
}
