@page "/EstateAddTest"
@page "/EstateEditTest/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using DTOs
@using System.Linq;

@if (Id == null)
{
    <h3>Add Estate</h3>
}
else
{
    <h3>Edit Estate</h3>
}

<EditForm Model="_Estate" OnSubmit="HandleSubmit">
    <div>
        <label onformchange="address"> Adress </label>
        <InputText id="Address" @bind-Value="_Estate.Address" class="form-control" />
    </div>
    <div>
        <label onformchange="StartingPrice"> StartingPrice </label>
        <InputNumber id="StartingPrice" @bind-Value="_Estate.StartingPrice" class="form-control" />
    </div>
    <div>
        <label onformchange="LivingAreaKvm"> LivingAreaKvm </label>
        <InputText id="LivingAreaKvm" @bind-Value="_Estate.LivingAreaKvm" class="form-control" />
    </div>
    <div>
        <label onformchange="NumberOfRooms"> NumberOfRooms </label>
        <InputText id="NumberOfRooms" @bind-Value="_Estate.NumberOfRooms" class="form-control" />
    </div>
    <div>
        <label onformchange="BiAreaKvm"> BiAreaKvm </label>
        <InputText id="BiAreaKvm" @bind-Value="_Estate.BiAreaKvm" class="form-control" />
    </div>
    <div>
        <label onformchange="EstateAreaKvm"> EstateAreaKvm </label>
        <InputText id="EstateAreaKvm" @bind-Value="_Estate.EstateAreaKvm" class="form-control" />
    </div>
    <div>
        <label onformchange="MonthlyFee"> MonthlyFee </label>
        <InputText id="MonthlyFee" @bind-Value="_Estate.MonthlyFee" class="form-control" />
    </div>
    <div>
        <label onformchange="RunningCosts"> RunningCosts </label>
        <InputText id="RunningCosts" @bind-Value="_Estate.RunningCosts" class="form-control" />
    </div>
    <div>
        <label onformchange="ConstructionDate"> ConstructionDate </label>
        <InputText id="ConstructionDate" @bind-Value="_Estate.ConstructionDate" class="form-control" />
    </div>
    <div>
        <label onformchange="EstateDescription"> EstateDescription </label>
        <InputText id="EstateDescription" @bind-Value="_Estate.EstateDescription" class="form-control" />
    </div>
    <div>
        <label onformchange="PublishDate"> PublishDate </label>
        <InputDate id="PublishDate" @bind-Value="_Estate.PublishDate" class="form-control" />
    </div>
    <div>
        <label onformchange="County"> County </label>
        <p>@_Estate.CountyId</p>
        <InputSelect id="_Estate.CountyId"  @bind-Value="_Estate.CountyId" class="form-control">
            @foreach (var county in counties)
            {
                <option label="@county.CountyName ">
                <option value="@_Estate.CountyId" selected="selected">@county.Id</option>
                </option>
            }
            </InputSelect>
    </div>
    <div>
        <label onformchange="Category"> Category </label>
       
        <InputSelect id="_Estate.CategoryId" @bind-Value="_Estate.CategoryId" class="form-control">
            @foreach (var category in categories)
            {
                <option label="@category.EstateCategory">
                    @category.Id
                </option>
            }
            </InputSelect>

    </div>
    <div>
        <label onformchange="Realtor"> Realtor  </label>
        <p>@selectedRealtor.FirstName</p>
        <InputSelect onselect="@_Estate.RealtorId" @bind-Value="_Estate.RealtorId" class="form-control">
            @foreach (var realtors in realtors)
            {
                <option label="@realtors.FirstName @realtors.LastName">
                    @realtors.Id
                </option>
            }
        </InputSelect>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
   
    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromForm]
    public UpdateEstateDto _Estate { get; set; } = new UpdateEstateDto();
    List<Category> categories = new List<Category>();
    List<County> counties = new List<County>();
    List<Realtor> realtors = new List<Realtor>();
    
    public Realtor selectedRealtor;
    public County selectedCounty;
    public Category selectedCategory;
    protected override async Task OnParametersSetAsync()
    {
        await Task.Delay(500);
        if (Id is not null)
        {
            var result = await Http.GetFromJsonAsync<UpdateEstateDto>($"https://localhost:7190/api/Estate/{Id}");
            if (result is not null) { _Estate = result; }
        }

        var category = await Http.GetFromJsonAsync<List<Category>>("https://localhost:7190/api/Category");
        var county = await Http.GetFromJsonAsync<List<County>>("https://localhost:7190/api/County");
        var realtor = await Http.GetFromJsonAsync<List<Realtor>>("https://localhost:7190/api/Realtor");
        if (category is not null) categories = category;
        if (county is not null) counties = county;
        if (realtor is not null) realtors = realtor;

        var currentRealtor = realtors.FirstOrDefault(r => r.Id == _Estate.RealtorId);
        var currentCategory = categories.FirstOrDefault(r => r.Id == _Estate.CategoryId);
        var currentCounty = counties.FirstOrDefault(r => r.Id == _Estate.CountyId);

        selectedCategory = currentCategory;
        selectedCounty = currentCounty;
        selectedRealtor = currentRealtor;
 
    }

    async Task HandleSubmit()
    {

        if (Id is not null)
        {
            var result = await Http.PutAsJsonAsync($"https://localhost:7190/api/Estate/{Id}", _Estate);
             // _Estate = await result.Content.ReadFromJsonAsync<UpdateEstateDto>();
        }
        else
        {
            var result = await Http.PostAsJsonAsync($"https://localhost:7190/api/Estate/", _Estate);
            // _Estate = await result.Content.ReadFromJsonAsync<UpdateEstateDto>();
        }
        NavigationManager.NavigateTo("Estates");
    }
}
